<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="/animal" method="post">
    <input type="text" name="name" placeholder="name">
    <input type="text" name="age" placeholder="age">
    <select name="pays">
        <option value="FR">France</option>
        <option value="UK">United Kingdom</option>
        <option value="US">United States</option>
    </select>
    <input type="submit" value="Submit">
</form>
</body>
</html>